<ul id="bookmarks" class="nav nav-list well">
	<li class="nav-header">Bookmarks</li>
	<li class="divider"></li>
	<li class="nav-header">Add</li>
	<li>
		<a class="add-bm" href="#">
			<i class="icon-plus"></i> current folder
		</a>
	</li>
</ul>