table.table.table-hover.table-striped.table-bordered
	thead
		tr
			th
			th Name
			th Size
			th Last Modified
	tbody
		each val in files
			tr
				td
					i(class="#{val.classNames}")= val.type
				td
					a(href="#{val.link}")= val.name
				td= val.size
				td(title="#{val.modified}")= val.modifiedNice