div#dokumentation.well(data-folder="#{folder}")
	h4 Dokumentiere
	form(method="post",action="/generator/dokumentation")
		fieldset
			div.control-group
				p Dateien
				div.controls
					input#files.span2(name="files", type="hidden")
					button.btn(type="button")
						i.icon-folder-open
					ul
						li Nichts ausgewählt
			div.control-group
				p Ausnahmen
				div.controls
					input#excludes.span2(name="excludes", type="hidden")
					button.btn(type="button")
						i.icon-folder-open
					ul
						li Nichts ausgewählt
			div.divider
			div.control-group
				p Output
				div.controls
					input#folder.span2(name="folder", type="hidden")
					button.btn(type="button")
						i.icon-folder-open
					ul
						li Nichts ausgewählt
			div.control-group
				button.btn.btn-small Dokumentiere