div#dokumentation.well(data-folder="#{folder}")
	h4 Dokumentiere
	form(method="post",action="/generator/dokumentation")
		fieldset
			div.control-group
				label.control-label(for="files") Dateien
				div.controls.input-append
					input#files.span2(name="files", type="text")
					button.btn(type="button")
						i.icon-folder-open
			div.control-group
				label.control-label(for="excludes") Ausnahmen
				div.controls.input-append
					input#excludes.span2(name="excludes", type="text")
					button.btn(type="button")
						i.icon-folder-open
			div.divider
			div.control-group
				label.control-label(for="folder") Output
				div.controls.input-append
					input#folder.span2(name="folder", type="text")
					button.btn(type="button")
						i.icon-folder-open
			div.control-group
				button.btn.btn-small Dokumentiere