div.row.ladies
	div.span12
		h1 Hello Ladies...
		
div.row.ladies
	div.span11.offset1
		p 
			| Look at your Apache, now back to me, now back at your Apache, now back to me.
			| Sadly, it isn't me. But if you stopped using bloated software and switched over to the slick 
			strong.text-error node.js prototype browser
			|  you could feel how it is to use me.
		p
			| Look down, back up. Where are you? You're on a server with the 
			strong.text-error node.js prototype browser
			|  your apache may never feel like.
		p
			| What's in your hand, now back to me. I have it. It's a Prototype with a couple of links to pages the design defined.
			| Look again. The links are now diamonds.
		p
			| Anything is possible with the new 
			strong.text-error node.js prototype browser 
			| .
		p.pull-right 
			| I'm on a horse.
