!!! 5
html(lang="de")
	include inc/html_-file-_head
	body
		div.container
			div.row
				div.span12
					h2 node.js prototype browser
			div.row
				div.span12
					- if(breadcrumb) {
						ul.breadcrumb
							each val,i in breadcrumb
								li
									if i === breadcrumb.length-1
										span= val.title
									else 
										a(href="#{val.link}")= val.title
									span.divider /
					- }
			div.row
				div.span12
					pre
						= data
		include inc/le-file-js
